@import "tailwindcss";

:root {
  --font-inter: var(--font-inter);
  --font-poppins: var(--font-poppins);
  --font-space-grotesk: var(--font-space-grotesk);
}

@theme {
  --font-inter: var(--font-inter);
  --font-poppins: var(--font-poppins);
  --font-space: var(--font-space-grotesk);
}
