@import "tailwindcss";

:root {
  --font-inter: "Inter", sans-serif;
  --font-poppins: "Poppins", sans-serif;
  --font-space-grotesk: "Space Grotesk", sans-serif;
}

body {
  font-family: var(--font-inter);
}
